.fotr{
    /* margin-top: 30px; */
    background: linear-gradient(to top, rgba(231, 203, 203, 0.5)20%,rgba(192, 103, 103, 0.5)20%);
    display: list-item;
    /* margin-left: 300px; */
}
.fotir{
    margin-top: 2px;
}

