/* forgotPassword.css */
/* body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fa;
  } */
  
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0077cc 40%, #f4f7fa 100%);
  }
  
  .forgot-password-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .h22 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .forgot-password-box p {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .inputt-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .inputt-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
  }
  
  .inputt-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    /* background-color: #f9f9f9; */
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .inputt-group input:focus {
    border-color: #0077cc;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #005fa3;
  }
  
  .message {
    margin-top: 20px;
    font-size: 1rem;
    color: #0077cc;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .forgot-password-box {
      width: 90%;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .input-group input {
      padding: 10px 12px;
    }
  
    .submit-btn {
      padding: 10px;
    }
  }